/* roboto */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto.woff2") format("woff2");
}

/* roboto-mono */
@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto-mono.woff2") format("woff2");
}

/* rubik */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/rubik.woff2") format("woff2");
}
